.accordionjs {
	--pad-y: 3rem;
	--pad-x: 4rem;
	
	position: relative;
	
	// Media Queries
	@include media-breakpoint-up(lg) {
		--pad-y: 2rem;
		--pad-x: 3rem;
	}

	h4 {
		margin-bottom: 2rem;

		&:not(:first-child) {
			margin-bottom: 1.5rem;
			margin-top: 2rem;
		}
	}

	.acc_head {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-family: $font-family-heading;
		font-weight: 500;
		font-stretch: 125%;
		font-size: inherit;
		text-transform: uppercase;
		padding: var(--pad-y) var(--pad-x);
		cursor: pointer;
		margin: 0;
	}
	.acc_content {
		padding: var(--pad-y) var(--pad-x);
		opacity: 0;
		transition: opacity 0.5s ease-in-out;
	}
	
	.acc_section {
		border: 1px solid #393939;
		position: relative;
		z-index: 10;
		margin-top: -1px;
		overflow: hidden;
		
		&.acc_active {
			.acc_head {
				border-bottom: 1px solid #393939;
			}
			.acc_content {
				display: block;
				opacity: 1;
			}
			.more-less::after {
				display: none;
			}
		}
	}

	.more-less {
		position: relative;
		display: none;
		flex: 0 0 auto;
		align-items: center;
		width: 0.8em;
		height: 0.8em;
		margin-top: -0.1rem;

		// Media Queries
		@include media-breakpoint-up(lg) {
			display: flex;
		}

		&::before {
			display: block;
			content: '';
			width: 100%;
			height: 2px;
			background: currentcolor;
		}
		&::after {
			position: absolute;
			display: block;
			content: '';
			top: 0;
			left: 50%;
			width: 2px;
			height: 100%;
			background: currentcolor;
			transform: translateX(-50%);
		}
	}
}
