//
// Headings
//
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: $font-family-heading;
	font-weight: 600;
	font-stretch: 125%;
	line-height: 1.1;
	margin-bottom: 0;
}
h1,
.h1 {
	font-size: 4.8rem;
	
	// Media Queries
	// @media (min-width: #{map-get($custom-breakpoints, bigphone)}) {
	// 	font-size: 7.6rem;
	// }
	@include media-breakpoint-up(lg) {
		font-size: 2.4rem;
	}
}
h2,
.h2 {
	font-size: 3.6rem;
	letter-spacing: -0.152rem;
	margin-bottom: 6rem;
	
	// Media Queries
	@include media-breakpoint-up(lg) {
		font-size: 1.8rem;
		letter-spacing: -0.126rem;
		margin-bottom: 3rem;
	}
}
h3,
.h3 {
	font-size: 3.6rem;
	letter-spacing: -0.08rem;
	
	// Media Queries
	@include media-breakpoint-up(lg) {
		font-size: 1.8rem;
		letter-spacing: -0.04rem;
	}
}
h4,
.h4 {
	font-size: 3rem;
	letter-spacing: -0.06rem;
	line-height: 1.2;
	
	// Media Queries
	@include media-breakpoint-up(lg) {
		font-size: 1.5rem;
		letter-spacing: -0.015rem;
	}
}

//
// Body Text
//
p {
	line-height: 1.33;
	font-size: 2.6rem;
	
	// Media Queries
	@include media-breakpoint-up(lg) {
		line-height: 1.43;
		font-size: 1.3rem;
	}

	&.bold {
		font-size: 2.4rem;
		font-weight: bold;

		// Media Queries
		@include media-breakpoint-up(lg) {
			font-size: 1.2rem;
		}
	}
}
