html,
body {
	padding: 0;
	margin: 0;
}
html {
	display: flex;
    flex-direction: column;
	min-height: 100%;
}
body {
	background-color: $light-grey;
	display: grid;
	
	// Media Queries
	@include media-breakpoint-up(lg) {
		font-size: 1.5rem;
	}
}

html {
	font-size: 5px;
	
	// Media Queries
	@include media-breakpoint-up(md) {
		font-size: 5.5px;
	}
	@include media-breakpoint-up(lg) {
		font-size: 6.25px;
	}
	@include media-breakpoint-up(xl) {
		font-size: 7px;
	}
	@include media-breakpoint-up(xxl) {
		font-size: 8.5px;
	}
	@include media-breakpoint-up(xxxl) {
		font-size: 10px;
	}
}
