html,
body {
	padding: 0;
	margin: 0;
}
html {
	display: flex;
    flex-direction: column;
	min-height: 100%;
	overflow-x: hidden;
}
body {
	background-color: $light-grey;
	display: grid;
	
	// Media Queries
	@include media-breakpoint-up(lg) {
		font-size: 1.5rem;
	}
}

html {
	font-size: 5px;
	
	// Media Queries
	@include media-breakpoint-up(md) {
		font-size: 5.5px;
	}
	@include media-breakpoint-up(lg) {
		font-size: 6.25px;
	}
	@include media-breakpoint-up(xl) {
		font-size: 7px;
	}
	@include media-breakpoint-up(xxl) {
		font-size: 8.5px;
	}
	@include media-breakpoint-up(xxxl) {
		font-size: 10px;
	}
}

/* Customize scrollbar for Webkit browsers */
::-webkit-scrollbar {
	width: 6px; /* Width of the scrollbar */
	height: 6px; /* Height of the scrollbar for horizontal scrolling */
  }
  
  ::-webkit-scrollbar-thumb {
	background-color: $lines-light; /* Color of the scrollbar handle */
	border-radius: 6px; /* Rounded corners for the scrollbar handle */
  }
  
  ::-webkit-scrollbar-thumb:hover {
	background-color: $lines-light; /* Color of the scrollbar handle on hover */
  }
  
  ::-webkit-scrollbar-track {
	background-color: $light-grey; /* Background color of the track (scrollbar area) */
	border-radius: 6px; /* Rounded corners for the track */
  }
  
